.homepage{
    width:100%;
}
/* Main Content */
.lmaincontent{
    display:flex;
    width:100%;
}
.lleftmain{
    width:50%;
    height:500px;
}
.lleftcontent{
    margin-left: 150px;
    margin-top: 100px;
}
.lheading2{
    text-align: left;
    font: normal normal 900 80px/70px Avenir;
    letter-spacing: 0px;
    color: #5861AE;
    text-transform: capitalize;
    opacity: 1;
}
.ldescription1{
    margin-top: 30px;
    font: normal normal normal 18px/22px Avenir;
    letter-spacing: 0.8px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
}
.lhaveaccount1{
    text-align: left;
    font: normal normal normal 16px/26px Avenir;
    letter-spacing: 0.64px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
}
.lregister-btn1{
    border: 2px solid #4552C1;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 15px/20px Open Sans;
    letter-spacing: 0.3px;
    color: #4552C1;
    background-color: white;
    padding:10px 20px;
}

/* Right Side Main */
.lrightmain{
    background-color: #B9C0FD1A;
    width: 50%;
    height:500px;
    border-left: 2px solid #0000000B;
}
.lrightcontent{
    margin-top: 100px;
    margin-left: 150px;
}
.lheading3{
    text-align: left;
    font: normal normal normal 700 40px/50px Avenir;
    letter-spacing: 1.28px;
    color: #4552C1;
    text-transform: uppercase;
    opacity: 1;
}
.email1, .password1{
    text-align: left;
    font: normal normal normal 18px/30px Open Sans;
    letter-spacing: 0.42px;
    color: #5861AE;
    opacity: 1;
}
.loginform input{
    border: none;
    border-bottom: 1px solid #5861AE;
    background-color: #B9C0FD1A;
    padding-left:5px;
    width:350px;
    margin-bottom: 20px;
}
.loginform input:focus{
    outline: none;
}
.lforget1{
    font: normal normal medium 16px/26px Avenir;
    letter-spacing: 0.64px;
    color: #4552C1;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 210px;
}
.lsigninbtn{
    background: #4552C1 0% 0% no-repeat padding-box;
    color: white;
    padding:10px 20px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-left: 120px;
    opacity: 1;
}
/* Footer */
